html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #111;
    color: white;
    padding: 30px 50px;
    position: fixed;
    height: 130px;
    width: 100%;
    z-index: 100;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}

.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid rgb(210, 144, 118);
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem:hover{
    color: rgb(255, 160, 122) ;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url("https://images.wallpaperscraft.com/image/single/pebbles_stones_black_144176_1280x720.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
    padding-top: 100px;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    /* background-color: yellow; */
}

.sliderImg{
    z-index: 1;
    
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900px;
    text-align: center;
    color: white;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300px;
    text-align: center;
    color: white;
    border: 1px solid grey;
    z-index: 1;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900px;
    color: white;
    border: 1px solid grey;
    background-color: black;
}

.buyButton:hover{
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg{
background-color: rgb(111, 144, 149);
}

.sliderItem:nth-child(2) .sliderBg{
background-color: rgb(203, 162, 139);
}

.sliderItem:nth-child(3) .sliderBg{
background-color: rgb(74, 92, 118);
}

.sliderItem:nth-child(4) .sliderBg{
background-color: rgb(141, 170, 140);
}

.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(177, 158, 141);
    }

/* Slider Price */
.sliderItem:nth-child(1) .sliderPrice {
    color: rgb(111, 144, 149);
}
  .sliderItem:nth-child(2) .sliderPrice {
    color: rgb(203, 162, 139);
}
  .sliderItem:nth-child(3) .sliderPrice {
    color: rgb(74, 92, 118);
}
  .sliderItem:nth-child(4) .sliderPrice {
    color: rgb(141, 170, 140);
}
  .sliderItem:nth-child(5) .sliderPrice {
    color: rgb(177, 158, 141);
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: black;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color: black;
}

.featureDesc {
    color: gray;
    width: 50%;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.payment{
    width: 600px;
    height: 650px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #d49dcd;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.payTitle {
    font-size: 20px;
    color: rgba(9, 4, 4, 0.374);
}

label {
    font-size: 14px;
    font-weight: 300;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid rgb(54, 52, 52);
}

.payInput::placeholder{
    color: lightgrey;
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;

}

.payButton {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    left: 0;
}

.productImg {
    width: 50%;
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-size: 75px;
    font-weight: 900;
}

.productDesc {
    font-style: 24px;
    color: gray;
}

.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover {
    background-color: whitesmoke;
    color: black;
}

.Free_shipping {
    color: white;
}

.warning {
    font-size: 25px;
    text-align: center;
    color: darkred;
    font-weight: bolder;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;
}

.returns {
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.container {
    text-align: center;
}

.gallery {
    padding: 50px;
    display: flex;
}

.galleryItem {
    flex: 1;
    padding: 50px;
}

.galleryImg {
    width: 100%;

}

.newSeason {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nsItems {
    flex: 1;
   
}

.nsImg {
    width: 80%;
    height: 80%;    
}

.nsTitle{
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
}

.nsTitle:hover{
    color: rgb(74, 92, 118);
}

.nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    margin-top: 10px;
}



.fList {
    padding: 0;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
}

.fListItem {
    margin-bottom: 10px;
    color: rgb(78, 76, 76);
    cursor: pointer;
}

.footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding: 10px;
    width: 290px;
    margin-top: 10px;
}

.fButton {
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons {
    display: flex;
}

.fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.copyright {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.return {
    font-weight: bolder;
    font-size: 30px;
    margin-left: 200px;
}

.para {
    font-size: 20px;
    margin-left: 200px;
    margin-right: 300px;
}

.faqs {
    font-size: 45px;
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width:480px) {
  
    nav{
        padding: 9px;
        height: 150px;
      }
    
      .search{
        display: none;
      }
    
      .navBottom{
        flex-wrap: wrap;
       }
    
      .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
      }
    
      .slider{
        clip-path: none;
        
      }
    
      .sliderImg{
        width: 95%;
        height: 95%;
      }
    
      .sliderBg{
        width: 95%;
        height: 95%;
      }
    
      .sliderTitle{
        display: none;
      }
    
      .sliderPrice{
        top: unset;
        bottom: -50;
        left: 0;
        background-color: lightgrey;
      }
    
      .buyButton{
        right: 0;
        top: 0;
      }
    
      .features{
        flex-direction: column;
      }
    
      .product{
        clip-path: none ;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .productImg{
        width: 80%;
      }
    
      .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
      }
    
      .productTitle{
        font-size: 50px;
        margin: 0;
      }
    
      .gallery{
        display: none;
      }
    
      .newSeason{
        flex-direction: column;
      }
    
      .nsItem:nth-child(2){
        padding: 50px;
      }
    
      footer{
        flex-direction: column;
        align-items: center;
      }
    
      .footerLeft{
        padding: 20px;
        width: 90%;
      }
    
      .footerRight{
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
      }
    
      .payment{
        width: 90%;
        padding: 20px;
      }

      .warning {
        margin-left: -0px;
        font-size: 25px;
        text-align: center;
        color: darkred;
        font-weight: bolder;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .returns {
        margin-left: -0px;
        font-size: 25px;
        text-align: center;
        font-weight: bolder;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

    
        .wrapper {
        margin-left: -0px;
        font-size: 25px;
        text-align: center;
        font-weight: bolder;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }


}

    